.word-wizard {
  padding: 0 3vw;

  h1 {
    text-align: center;
  }

  input {
    font-size: 2rem;
    max-width: 90vw;
  }

  .info {
    text-align: center;
    margin-bottom: 12px;
  }

  .tray {
    max-width: 800px;
    margin: 1vh auto;
  }

  .tutorialLink {
    margin-top: 1vh;
  }
}
