.chip8 {
  position: relative;
  width: calc(12 * 64px);
  margin: auto auto;

  .tab-row,
  .button-row {
    width: 100%;
    margin-top: 12px;
    justify-content: space-around;
  }

  canvas {
    border: 3px solid #000;
  }

  select {
    padding: 6px 12px;
  }

  .tab-row {
    .tab {
      padding: 6px 12px;
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      margin-bottom: 20px;
      color: #6AF;

      &.selected {
        border-color: #6AF;
      }

      &:hover {
        color: #8CF;
        border-color: #8CF;
      }
    }
  }

  .lower-section {
    .description {
      padding: 0 50px;
      margin: auto;
    }

    .input-controls {
      padding: 20px;
      border: 1px solid #000;
      font-size: 1.6em;

      .row:not(:last-child) {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }

      .key:not(:last-child) {
        border-right: 1px solid #000;
        padding-right: 20px;
        margin-right: 20px;
      }
    }
    .section {
      margin-top: 20px;
    }

    .title {
      font-size: 1.2em;
    }

    .memory-value {
      width: calc(20% - 24px);
      margin: 6px 12px;
      border-bottom: 1px dashed #333;
      justify-content: space-between;
    }
  }
}
