.blurb {
  display: flex;
  margin: 0 auto 150px;
  width: 800px;
  flex-direction: column;

  .header {
    font-size: 2.5em;
    font-weight: bold;
    color: #59E;
    text-shadow: 1px 0px 0px #0005;
  }

  .subheader {
    font-size: 1.5em;
    color: #59E;
  }
}
