.jumbotron {
  height: 10vh;
  pointer-events: none;
}

.jumbotron-spacer {
  height: 65vh;

  &:not(.no-jumbo) {
    transition: height 300ms ease-out;
  }
}

.jumbotron-spacer.no-jumbo {
  height: 0vh;
}

.jumbotron {
  transition: height 300ms ease-out;

  &.at-top:not(.no-jumbo) {
    height: 75vh;
  }
}

.jumbotron-spacer {
  &.at-top:not(.no-jumbo) {
    height: 0px;
  }
}

.jumbotron {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  background-color: #6AF;
  align-items: center;
  border-bottom: 1px solid #59E;

  &.at-top:not(.no-jumbo) .text-wrap {
    h1 {
      font-size: max(10vw, 6vh);
      line-height: max(8vw, 5vh);
      text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    }

    h2 {
      font-size: max(3vw, 2vh);
      line-height: max(3vw, 2vh);
      letter-spacing: max(0.3vw, 0.4vh);
      text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
      transform: rotate(-90deg) translate(30%, 50%);
    }

    @media (prefers-color-scheme: light) {
      h1 {
        text-shadow: -1px -1px rgba(255, 255, 255, 0.2);
      }

      h2 {
        text-shadow: 1px -1px rgba(255, 255, 255, 0.2);
      }
    }
  }

  .text-wrap {
    display: flex;

    .rotate-wrap {
      display: flex;
      flex-direction: column;
    }

    h1,
    h2 {
      padding: 0;
      margin: 0;
      transition: font-size 300ms ease-out, line-height 300ms ease-out;
    }

    h1 {
      font-size: min(3.5vw, 4vh);
      line-height: min(3vw, 3.5vh);
    }

    h2 {
      font-size: min(1vw, 1vh);
      line-height: min(1vw, 1vh);
      letter-spacing: min(0.2vw, 0.3vh);
      transform: rotate(-90deg) translate(33%, 50%);
    }

  }
}
