.guess {
  display: flex;

  .number,
  .letter {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    margin: 10px;
    background-color: #ddd;
    border-radius: 3px;
    font-size: 2rem;
    user-select: none;
    transition: background-color 300ms linear;

    &.correct,
    &.included {
      background-color: #9d9;
    }

    &.incorrect,
    &.excluded {
      background-color: #d99;
    }
  }

  .number {
    border-radius: 100%;
  }
}
